.dropdownitem {
    width: 100%;
    height: 100%;
    padding: 0.4rem 1.5rem;
    text-align: left;
    background-color: transparent;
}

.dropdownitem:hover {
    background-color: transparent;
}

.dropdownitem:focus {
    background-color: transparent;
}