.carousel-image{
    width:100%;
    height: 100%;
    justify-content:center;
    
}

.carousel-container{
    text-align: center;
    justify-content: center;
    width: auto;
    height:auto;
}

.thumbnail{
    width: 88%;
    height: 88%;
}