.item {
  padding-bottom: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 1px rgb(0 0 0 / 10%);
  box-shadow: 0 2px 2px 1px rgb(0 0 0 / 10%);
  margin: 18px 0px;
  width: 100%;
  height: 373px;
}

.vehicleImg {
  height: 170px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  object-fit: cover !important;
}

@media screen and (min-width: 992px) {
  .vehicleImg {
    height: 170px;
  }
}

.vehicle-title {
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0px;
  margin: 0;
}

.vehicle-title p {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  line-height: 18px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  border-left: 3px solid #fe0003;
  padding-left: 15px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: 0px;
}

.vehicle-title p:hover {
  padding-left: 25px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #222222;
}

a,
a:link,
a:hover,
a:focus,
a:active {
  color: #222;
  text-decoration: none;
}

.vehicle-description {
  padding: 0px 20px 15px 20px;
  overflow: hidden;
}

.vehicle-status {
  padding: 0px 20px 20px 20px;
  color:#912422;
}

.vehicle-description p {
  font-size: 14px;
  margin: 0;
  line-height: 25px;
}

.vehicle-specs {
  padding: 0px 20px 20px 20px;
}

.vehicle-specs span {
  background: none;
  padding: 0 5px;
  font-size: 12px;
  width: auto;
  display: inline-block;
  border: none;
  float: none;
}

.vehicle-specs div i {
  padding-right: 5px;
  line-height: 14px;
  font-style: normal;
}

.vehicle-pricing {
  margin: 3px 3px 0;
  padding: 10px 15px;
  font-size: 15px;
  color: #fff;
  background: #fe0003;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.vehicle-pricing:hover {
  background-color: #FF3234;
}

.vehicle-pricing span {
  display: inline-block;
  line-height: 12px;
}

.vehicle-price {
  font-weight: 700;
}

.vehicle-price-msrp {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 12px;
  padding-left: 12px;
}

.popular-item {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
  top: 0;
}

.catego-title {
  background-color: #fe0003;
  opacity: 0.7;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  width: 100px;
  z-index: 100;
  position: absolute;
  top: 5px;
  left: 153px;
  text-align: center;
}
