.vehicle-body-content{
    font: 14px 'Muli', sans-serif;
    color : #565656!important;
    background-color: #F7F9FB;
    padding : 50px 0px;
    overflow-x: hidden;
}

@media screen and (max-width: 768px){
    .vehicle-body-content{
        padding: 45px 0;
    }
}

.sidebar{
    color : #565656;
    Font : 14px 'Muli', 'sans-serif';
    letter-spacing: 0.3px;
    Padding : 0px 15px;
}

@media screen and (max-width: 990px) {
    .sidebar{
        padding : 0px;
    }
    .sidebar{
        display: none;
    }
    
}
.sidebar-content {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
    padding: 25px 20px;
    padding-top : 0px;
    position: relative;
    margin-bottom: 40px;
}

.textwidget{
    padding-top : -25px;
    margin : 0;
}

.sidebar-title{
    background: #222222;
    color: #fff;
    font-size: 15px;
    margin-left: -20px;
    font-family: sans-serif;
    margin-right: -20px;
    margin-top: -25px;
    padding: 18px 20px;
    margin-bottom : 0;
    text-align: left;
}

@media screen and (max-width: 1200px) and (min-width:992px) {
    .sidebar-title{
        font-size: 12px;
    } 
}

.filter-form{
    margin-top :10px;
}

.form-group{
    color : #868686!important;
    margin-bottom: 0;
    Font : 14px Muli, 'sans-serif';
    padding : 22px 0px 0px;
    text-align: left;
}

.search-input{
    border : 1px solid #dfdfdf;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    padding: 0 10px;
    width : 100%;
}

.sidebar-dropdown{
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    padding: 0 10px;
    color : #777777!important;
    border : 1px solid #dfdfdf;
    width : 100%;
}

.sidebar-submit{
    margin-top: 35px;
    border: 1px solid transparent;
    background: #222222;
    Padding : 0px 30px;
    font-size: 14px;
    font-family: sans-serif;
    color: #fff;
    width: 100%;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.sidebar-submit:hover{
    background-color: #fe0003!important;
    transition: 200ms ease-in;
}
.sidebar-submit:hover::before{
    background-color: #fe0003!important;
    transition: 200ms ease-in;
}

@media screen and (max-width : 1400px) and (min-width : 990px) {
    .sidebar-submit{
        font-size: 0%;
        background-color: #fff;
        padding: 0;
        margin : 0;
        line-height: 0;
        border : 0;
        visibility: hidden;
    }
    .sidebar-submit::before{
        content: 'SEARCH';
        margin-top: 35px;
        border: 1px solid transparent;
        background: #222222;
        Padding : 0px 15px;
        font-size: 14px;
        font-family: sans-serif;
        color: #fff;
        width: auto;
        line-height: 45px;
        text-align: center;
        cursor: pointer;
        display: block;
        visibility: visible;
    }
    .sidebar-submit:hover::before{
        background-color: #fe0003!important;
        transition: 200ms ease-in;
    }
}

.vehicle-results {
    Font : 13px Muli, sans-serif!important;
    font-weight: 600;;
    background: #FFFFFF;
    Margin : 0px 0px 15px;
    Padding : 22px;
    -webkit-box-shadow: 0 2px 2px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 2px 1px rgb(0 0 0 / 10%);
}

.drop-down-content{
    display : inline-block;
    position : relative;
    margin-right: 20px;
    padding-bottom: 10px;
}

.drop-down {
    border: 1px solid #dfdfdf;
    height: 35px;
    line-height: 35px;
    color: #222;
    padding: 0 12px;
    cursor: pointer;
    font-weight: normal;
}

.vehicle-results li {
    display: inline-flex;
}

@media screen and (max-width: 768px ) { 
    .drop-down-content{
        display: flex;
         margin-right : 0;
    }
    .drop-down{
        width : 100%;
    }
    .vehicle-layout-btn{
        padding: 0px;
    }
}


.drop-down option{
    padding: 6px 12px;
    border: none;
    background: none;
    color: #565656;
} 

.vehicle-layout-btn{
    padding-top: 10px;
    float: right;

}

.vehicle-layout-btn a{
    color: inherit;
    text-decoration: none;
    padding-right: 5px;
}

.vehicle-layout-btn a:hover{
    color: #fe0003!important;
}

.tooltip > div.tooltip-inner {
    background-color:  #fe0003!important;
    color: #FFFFFF !important;
}

.tooltip > div.tooltip-inner > .arrow{
    background-color:  #fe0003!important;
    color: #FFFFFF !important;
}

.active{
    color: #fe0003 !important;
}

.clear{
    height: 0;
    clear: both;
    display: block;
}

@media screen and (max-width: 768px ) { 
    .vehicle-layout-btn{
        padding: 0px;
    }
    
}
