.userguide-container-wrap {
    width: 100%;
    background: url(../../../../assets/images/userguide_image2.png);
    background-size: cover;
    padding: 70px 0px;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .ug-bg-image {
    height: 450px;
    padding: 60px 0px;
  }
  
  .ug-image-contents {
    padding-top: 50px;
  }
  
  .ug-mainheader {
    margin-bottom: 58px;
    text-align: center;
    color: #fff;
  }
  
  .ug-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .ug-col {
      margin-bottom: 40px;
    }
  }
  
  .ug-col-number-wrap {
    height: 130px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-size: 200px 100px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transition: all 0.1s linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  
  .ug-col-number-wrap:hover {
    transform: scale(1.2);
  }
  
  .ug-col-number {
    color: #fe0003;
    font-weight: 600;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .ug-col-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 40px;
    color: #fff;
  }
  
  .ug-col-short-desc {
    padding: 0px 32px;
    margin-bottom: 0px;
    font-size: 1.25rem;
    color: #fff;
  }

  
