@media (min-width: 1025px) {
  .headcontact-section {
    background-image: url(../../../assets/images/contact_us.png);
    background-size: 650px;
    height: auto;
  }
  .headcontact-text {
    max-width: 50%;
    margin: 0;
  }
}

.headcontact-section {
  background-repeat: no-repeat;
  background-position: top right;
  background-color: rgba(255, 255, 255, 0.747);
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.man {
  background: url(../../../assets/images/left-drop-us.png)
      left bottom,
    url(../../../assets/images/right-drop-us.png)
      right bottom,
    #f5f8fa;
  background-size: 32% auto, 40% auto;
  background-repeat: no-repeat;
  padding-bottom: 3.6rem;
}

.headcontact-container {
  position: relative;
  padding: 70px 0px 20px 0px;
  overflow: hidden;
  z-index: 20;
}

.headcontact-content {
  box-sizing: content-box;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.headcontact-text {
  position: static;
  padding-right: 0;
  text-align: left;
  z-index: 48;
}

.headcontact-h1 {
  font-size: 46px;
  color: #fe0003;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.headcontact-h2 {
  font-size: 46px;
  color: #fe0003;
  font-weight: 700;
}

.headcontact-p {
  text-align: left;
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 700;
}

.headcontact-contact-numbers {
  padding-top: 70px;
  padding-bottom: 30px;
}

.head-card-body {
  height: 220px;
  background-color: #f5f8fa;
}

.card-title {
  text-align: center;
  color: #fe0003;
}

.card-span {
  text-align: center;
  justify-content: center;
  font-size: 20.8px;
  font-family: "Montserrat", sans-serif;
  color: #fe0003;
  padding-top: 10px;
}

.card-text-link {
  color: #0091ae;
  /* padding-top: 20px; */
  text-decoration: none;
  font-size: 12.8px;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.head-card-p {
  /* margin: 32px 60px 20.8px; */
  text-align: center;
  justify-content: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #33475b;
  font-weight: bold;
  padding-top: 10px;
}

.head-button {
  background-color: #fe0003;
  border-radius: 10px;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.head-button:hover {
  color: #fff;
  background-color: #FF3234;
}

.head-button-link {
  color: #fff;
  text-decoration: none;
}

.head-button-link:hover {
  color: #fff;
}

.head-button-div {
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

@media all and (max-width: 1025px) {
  .headcontact-text,
  .headcontact-p {
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .headcontact-contact-numbers {
    padding-top: 20px;
  }
  .head-card-body {
    height: 190px;
  }
  .card-col {
    padding-bottom: 7px;
    padding-top: 7px;
  }
}

.row-css{
    display: flex;
    align-items: center;
    justify-content: center;
}
